body {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    color: #333;
    max-width: 750px;
    margin: 40px auto;
    background-color: #F3F3F3;
}

h1, h2, h3 {
    margin-bottom: 0.25em;
}

h2 {
    font-size: 120%;
}

footer {
    font-size: smaller;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.score {
    padding: 0.5em;
    display: inline-block;
    font-weight: bold;
}

button.reset {
    padding: 0.5em;
}

small {
    color: #555;
}

td {
    padding: 5px 0;
}
